.imgCustom {
  width: 50%;
}

body {
  background-image: url("../assets/img/backgroundscratch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;   
  color: #2b2b2b;                                         
  background-color: antiquewhite;
  margin: 20px;
}

h1 {
  color: rgb(80, 40, 120);                                
  text-align: center;
}

h2 {
  color:  rgb(5, 24, 240)                             
}

